data
__pycache__
cache_dir
.DS_Store
.ipynb_checkpoints

scraper1
scraper2
scraper3
scraper4
utils/scraping/chromedriver.exe

dashboard/data

# fasttext utils: pretrained yelp_review_polarity.bin
modelling/utils/fasttext
# data folder
modelling/data
# cache and runs for BERT model
modelling/cache_dir
modelling/runs
modelling/saved_models/bert
modelling/new_labels
modelling/stacking_folds
modelling/fold_predictions
# bert model is too large to push to github
modelling/saved_models/model_bert/