.rc-slider-track {
  background-color: black;
}

.rc-slider-dot-active {  
  border-color: black;
  border: solid 2px black;
}

.rc-slider-dot-active:hover{
  border-color: black;
}

.rc-slider-handle {
  border-color: black;
}

.rc.slider-handle:hover {
  border-color: black;
}

.rc.slider-handle-active:active {
  border-color: black;
}